<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h1 style="text-align: center">Test your java knowledge!</h1>
<div style="text-align: center">
    Twoje pytanie:
    <p th:text="${questionModel.getContent()}"></p><br>
    <form th:action="@{/question}" method="post" th:object="${answerForm}">
        <input type="radio" th:text="${questionModel.getAnswer1()}" th:field="*{chosenAnswer}" th:value="1"><br>
        <input type="radio" th:text="${questionModel.getAnswer2()}" th:field="*{chosenAnswer}" th:value="2"><br>
        <input type="radio" th:text="${questionModel.getAnswer3()}" th:field="*{chosenAnswer}" th:value="3"><br>
        <input type="radio" th:text="${questionModel.getAnswer4()}" th:field="*{chosenAnswer}" th:value="4"><br>
        <button type="submit">Wyślij odpowiedź</button>
    </form>
</div>

</body>
</html>